@media only screen and (max-width: 1200px) {
    #navbar {
        display: none;
    }
    #content {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #content {
        height: 100%;
    }

    #content .search-content {
        height: 50%;
        align-self: center;
    }

    #content .body-content .body-intro {
        display: flex;
        flex-direction: column;
    }

    #content .body-content .body-figure {
        display: flex;
        flex-direction: column;
    }

    #content .body-content .body-figure .user-info{
        width: 50%;
        align-self: center;
    }
}

@media only screen and (max-width: 656px) {
    #content .body-content .body-figure .user-info .user-detail, .user-option{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #content .body-content .body-figure .user-info .user-option .button-text{
        margin-bottom: 12px;
    }

    #content .body-content .body-figure .user-info .user-certificate{
        margin-top: 12px;
    }
}

/* ----- Product ----- */

@media only screen and (max-width: 992px) {
    #content {
        height: 100%;
    }

    #content .search-content {
        height: 50%;
        align-self: center;
    }

    #content .body-product .product-special {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 656px) {
    #content .body-product .product-special .product-release .user-option{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 352px) {
    #content .body-product .feedback-customer ul {
        padding: 0;
    }

    #content .body-product .feedback-customer ul li{
        padding: 12px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

/* ----- Customer ----- */
@media only screen and (max-width: 1028px) {
    #content .body-customer {
        display: flex;
        flex-direction: column;
    }

    #content .body-customer .customer-lucky .luckily {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}